<nav class="navbar navbar-default hidden-print">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" title="">{{site.title}}</a>
		</div>
		<div class="navbar-collapse collapse navbar-right">
			<ul class="nav navbar-nav">
				<li><a href="/index.html">Home</a></li>
				<li><a href="/page2.html">Someplace else</a></li>
			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</nav>
